* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.grid-container-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}


.grid-item {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    padding: 10px;
    text-align: left;
}

.caption p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
